# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Infrastructure/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Infrastructure\Controller\:
        resource: '../src/Infrastructure/Controller'
        tags: [ 'controller.service_arguments' ]

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Infrastructure\Elasticsearch\Repository\CarRepository: ~
    App\Infrastructure\Doctrine\Repository\CarRepository: ~
    App\Infrastructure\Elasticsearch\Repository\UserRepository: ~
    App\Infrastructure\Doctrine\Repository\UserRepository: ~

    App\Domain\Repository\CarRepositoryInterface $carRepoBackup: '@App\Infrastructure\Elasticsearch\Repository\CarRepository'
    App\Domain\Repository\CarRepositoryInterface: '@App\Infrastructure\Doctrine\Repository\CarRepository'
    App\Domain\Repository\UserRepositoryInterface $userRepoBackup: '@App\Infrastructure\Elasticsearch\Repository\UserRepository'
    App\Domain\Repository\UserRepositoryInterface: '@App\Infrastructure\Doctrine\Repository\UserRepository'

    App\Domain\Cache\CacheInterface $cacheRedis: '@App\Infrastructure\Services\CacheRedis'
    App\Domain\Cache\CacheInterface $cacheLogger: '@App\Infrastructure\Services\CacheDecoratorLog'

    App\Domain\Mail\EmailMessageInterface $sendEmailMessage: '@App\Infrastructure\Message\SendEmail'

    _instanceof:
        App\Domain\Command\CommandHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: command.bus }

        App\Domain\Query\QueryHandlerInterface:
            tags:
                - { name: messenger.message_handler, bus: query.bus }

    App\Infrastructure\EventListener\JWTCreatedListener:
        arguments: [ '@request_stack' ]
        tags:
            - {
                name: kernel.event_listener,
                event: lexik_jwt_authentication.on_jwt_created,
                method: onJWTCreated
            }

    App\Infrastructure\EventListener\JWTDecodedListener:
        arguments: [ '@request_stack' ]
        tags:
            - {
                name: kernel.event_listener,
                event: lexik_jwt_authentication.on_jwt_decoded,
                method: onJWTDecoded
            }

    App\Infrastructure\EventListener\JWTAuthenticationSuccessListener:
        tags:
            - {
                name: kernel.event_listener,
                event: lexik_jwt_authentication.on_authentication_success,
                method: onAuthenticationSuccessResponse,
                priority: -1000,
            }

    App\Domain\EventListener\CarCreatedEventListener:
        arguments:
            $sendEmailMessage: '@App\Infrastructure\Message\SendEmail'
        tags:
            - { name: 'kernel.event_listener', event: 'App\Domain\Event\CarCreatedEvent', method: 'onCarCreated' }

    App\Domain\EventListener\CarUpdatedEventListener:
        arguments:
            $sendEmailMessage: '@App\Infrastructure\Message\SendEmail'
        tags:
            - { name: 'kernel.event_listener', event: 'App\Domain\Event\CarUpdatedEvent', method: 'onCarUpdated' }

    App\Domain\EventListener\CarDeletedEventListener:
        arguments:
            $sendEmailMessage: '@App\Infrastructure\Message\SendEmail'
        tags:
            - { name: 'kernel.event_listener', event: 'App\Domain\Event\CarDeletedEvent', method: 'onCarDeleted' }

    App\Infrastructure\Event\SymfonyEventDispatcher:
        arguments:
            $eventDispatcher: '@event_dispatcher'
        public: true

    App\Infrastructure\Bus\CommandBus:
        public: true

    App\Infrastructure\Bus\QueryBus:
        public: true